html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    padding: 0;
}

header {
  align-items: center;
  background-color: white;
  border-bottom: .05em solid #b2b2b2;
  height: 7em;
  position: fixed;
  transition: height .2s;
  z-index: 5;
}

.header-big {
  height: 7em;
}

.header-small {
  height: 4em;
}

.nav div{
  color: #b2b2b2;
  text-align: center;
}

.logo {
  margin-left: 2em;
  width: 50%;
}

#index-title {
  background-image: url('../images/home-gallery/3.png');
  background-size: cover;
  height: 35em;
}

#home-gallery {
  background-color: white;
  height: 1000px;
  padding-left: 1em;
  padding-right: 1em;
}

.gallery-item {
  width: 100%;
}

#home-gallery-1 {
  padding: 3em;
}

#hg-text-1 {
  align-items: center;
  padding: 5em;
}

#hg-img-1 {
  background-image: url('../images/home-gallery/2.png');
  background-size: cover;
  /* transition: .5s; */
}

#hg-img-1-overlay {
}

#hg-img-2 {
  background-image: url('../images/home-gallery/6.png');
  background-size: cover;
  /* transition: .5s; */
}

#hg-img-2:hover {
  filter: brightness(50%);
}

#hg-img-2 div {
  color: white;
  padding: 2em;
  text-align: center;
  /* transition: .1s; */
  visibility: hidden;

}

#hg-img-2:hover div {
  visibility: visible;
}

#hg-img-1:hover {
  filter: brightness(50%);
}

#hg-img-1 div {
  color: white;
  padding: 2em;
  text-align: center;
  /* transition: .1s; */
  visibility: hidden;
}

#hg-img-1:hover div {
  visibility: visible;
}

.text-title {
  color: #b2b2b2;
  padding-bottom: 2em;
  text-align: center;
}

.text-text {
  color: #b2b2b2;
  text-align: center;
}

.hr7:before {
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0 0 1px 0;
  content: "";
  display: block;
  height: 30px;
  margin-top: -31px;
  position: relative;
  top: 4em;
}
.hr7:after {
  background: white;
  color: red;
  content: "\002665";
  display: inline-block;
  font-size: 1.7em;
  position: relative;
  right: 3.5em;
  top: 1.7em;
}

#about {
  /* padding: 2em; */
  text-align: center;
}

#about-text {
  color: #b2b2b2;

}

#team img{
  filter: opacity(.5);
  height: 100%;
  transform: scale(.8);
  transition: .5s;
  width: 100%;

}

#team-1:hover {
  filter: opacity(1);
  transform: scale(1.1);
}

#team-2:hover {
  filter: opacity(1);
  transform: scale(1.1);
}

#team-3:hover {
  filter: opacity(1);
  transform: scale(1.1);
}

#team-4:hover {
  filter: opacity(1);
  transform: scale(1.1);
}
